.chat-main
  .group-info
    .group-info__info-left
      %p.group-info__info-left--name
      %ul.group-info__info-left--member-list
        -# Todo : member-list li はメンバー追加による繰り返し処理による表示を行う
        %li
    =link_to "#", class: "group-info__info-right" do
      Edit
  .message-list
    -# Todo : messages から messages__message はフォーム投稿により繰り返し処理による表示を行う
    .messages
      .messages__detail
        %p.messages__detail--name
        %p.messages__detail--create
      %p.messages__message
  .message-form
    %form.new-message
      .new-message__input-box
        %input.new-message__input-box--text{type: "text", placeholder: "type a message", value: ""}
        %label.new-message__input-box--image
          %i.far.fa-image
          %input{type: "file"}
      %input.new-message__submit-btn{type: "submit", value: "Send"}