.messages
  .messages__detail
    .messages__detail--name
      = message.user.name
    .messages__detail--create
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .messages__message
    - if message.content.present?
      %p.messages__message__content
        = message.content
    = image_tag message.image.url, class: 'messages__message__image' if message.image.present?