* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.side-bar{
  height: 100%;
  width: 300px;
  background-color: #253141;
  &__header{
    height: 100px;
    width: 100%;
    padding: 0 20px;
    @include align-items();
    .top-items{
      height: 16px;
      width: 100%;
      @include space-between();
      line-height: 16px;
      color: $mainWhite;
      &__name{
        font-weight: bold;
      }
      &__icons{
        display: flex;
        &--icon{
          margin-left: 5px;
          color: $mainWhite;
          font-size: 14px;
        }
      }
    }
  }
  &__group-list{
    height: calc(100% - 100px);
    width: 100%;
    background-color: #2f3e51;
    padding: 20px 20px;
    .group{
      width: 100%;
      margin-bottom: 40px;
      &__name{
        margin-bottom: 5px;
        color: $mainWhite;
        font-size: 15px;
        font-weight: bold;
      }
      &__message{
        color: $mainWhite;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
}

.chat-main{
  width: calc(100vw - 300px);
  background-color: $mainWhite;
  .group-info{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 0 40px;
    @include space-between();
    &__info-left{
      margin-top: 35px;
      &--name{
        margin-bottom: 15px;
        color: $mainDarkGray;
        font-size: 20px;
      }
      &--member-list{
        display: flex;
        color: $mainGray;
        font-size: 12px;
        li{
          padding-left: 5px;
          color: $mainGray;
          font-size: 12px;
        }
      }
    }
    &__info-right{
      height: 40px;
      width: 72px;
      border: 1px solid $mainSkyBlue;
      margin-top: 28px;
      padding: 0 20px;
      font-size: 16px;
      line-height: 40px;
      color: $mainSkyBlue;
      border-radius: 20px;
    }
  }
  .message-list{
    height: calc(100vh - 190px);
    width: 100%;
    background-color: #fafafa;
    padding: 35px 40px 0 40px;
    overflow: scroll;
    .messages{
      margin-bottom: 46px;
      &__detail{
        margin-bottom: 12px;
        display: flex;
        &--name{
          margin-right: 10px;
          color: $mainDarkGray;
          font-size: 16px;
          font-weight: bold;
        }
        &--create{
          color: $mainGray;
          font-size: 12px;
        }
      }
      &__message__content{
          color: #434A54;
          font-size: 14px;
        }
    }
  }
  .message-form{
    height: 90px;
    width: 100%;
    background-color: #d2d2d2;
    padding: 0 40px;
    @include align-items();
    .new_message{
      height: 50px;
      width: 100%;
      align-items: center;
      @include space-between();
      &__input-box{
        height: 50px;
        width: 100%;
        background-color: $mainWhite;
        display: flex;
        position: relative;
        &--text{
          height: 50px;
          width: 100%;
          border: none;
          padding-left: 10px;
          padding-right: 40px;
        }
        &--image{
          line-height: 50px;
          font-size: 23px;
          position: absolute;
          right: 10px;
          cursor: pointer;
          .hidden{
            display: none;
          }
        }
      }
      &__submit-btn{
        height: 50px;
        width: 100px;
        background-color: $mainSkyBlue;
        margin-left: 15px;
        color: $mainWhite;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
